# database &git config  --global user.name "ro2cool" logs
*.db
*.sqlite3
*.log
.idea
# venv
env
venv
/adminsite/migrations/
# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*/migrations/
# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log
.idea